#results_table {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

table a {
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.87);
}

tr:hover td {
    background-color: #cccccc;
}

tr:hover td.not_found {
    background-color: #888888;
}

tr:hover > td.passed {
    background-color: #215023;
}

tr:hover > td.failed {
    background-color: #bb1111;
}

.fixed-table-container {
    width: 100%;
    max-height: 70%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-bottom: 40px;
}

.fixed-table-container table {
    border-collapse: collapse;
    width: 100%;
}

.fixed-table-container th,
.fixed-table-container td {
    font-size: 12px;
    line-height: 16px;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}

.fixed-table-container td.text {
    white-space: nowrap !important;
}

.fixed-table-container th {
    background: #eee;
    padding-top: 10px;
    padding-bottom: 10px;
}

.fixed-table-container td:first-child {
    background: #eee;
}

.fixed-table-container tr:hover td:first-child {
    background: #aaa;
}

.fixed-table-container tr:last-child td {
    border-bottom: 0;
}

.fixed-table-container th:last-child,
.fixed-table-container td:last-child {
    border-right: 0;
}
