line, path, circle {
    -moz-user-select: none;
}

#tooltip {
    position: absolute;
    opacity: 0;
    top: 0px;
    width: 300px;
    z-index: 100;
}

.chart_fail {
    color: #bb1111;
    float: right;
}

.chart_fail *, .chart_pass * {
    margin: 0px;
}

.chart_pass {
    color: #43a047;
    float: left;
}

.tick > line {
    stroke: #aaaaaa;
}

.historic_point {
    cursor: pointer;
}

#chart_container {
    position: relative;
    margin: 5px;
    padding: 5px;
    overflow-x: scroll;
}
